.DS_Store
/node_modules
/apps/svelte/node_modules
/apps/vanilla/node_modules
/apps/typescript/node_modules
/packages/perso-interactive-sdk/node_modules
/packages/tsconfig/node_modules
/packages/eslint-config/node_modules
/packages/prettier-config/node_modules

/build
/apps/svelte/.svelte-kit
/package

.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

AGENTS.md

/packages/perso-interactive-sdk/src/_session.ts

# Build outputs
/packages/perso-interactive-sdk/dist