.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
pnpm-lock.yaml
package-lock.json
yarn.lock

# Config files (not in tsconfig)
.eslintrc.cjs
prettier.config.cjs
svelte.config.js

# Bundled SDK files
public/core/
